# Carpetas de Unity que no deben subirse
Library/
Logs/
Temp/
Obj/
Builds/
MemoryCaptures/
UserSettings/

# Archivos específicos de Unity
*.pidb
*.suo
*.user
*.userprefs
*.csproj
*.sln
*.swp
*.tmp
*.bak
*.svd

# XAMPP y bases de datos locales
xampp/
htdocs/
*.sql
*.db

# Archivos de compilación y dependencias
*.exe
*.dll
*.apk
*.app
*.ipa
*.class
*.jar
*.pdb
*.idb
*.obj
*.so
*.zip
*.tar.gz
*.rar

# Carpetas del sistema y archivos temporales
.DS_Store
Thumbs.db

# Archivos de Visual Studio que no deben subirse
.vs/
.vscode/
*.vsconfig

# Carpetas de compilación de C#
bin/
obj/
